@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;600&family=Pixelify+Sans&family=VT323&display=swap');

:root {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 200;
  --bg: #0C0623;
  --border: #0C0623;
  --text: #0C0623;
  --prompt-default: #2E8B57;
  --prompt-1: #EE82EE;
  --prompt-2: #00BFFF;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

html,
body {
  color: var(--text);
  background-color: var(--bg);
  height: 100%;
  font-size: 16px;
  display: block;
}

html {
  overflow: auto;
}

body {
  padding: 16px;
  box-sizing: border-box;
}

main {
  display: block;
  box-sizing: border-box;
  height: 100%;
  border: var(--border) solid 2px;
  border-radius: 2px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

main::-webkit-scrollbar {
  display: none;
}

p {
  display: block;
  line-height: 22px;
  animation: typing 0.5s steps(30, end);
  white-space: nowrap;
  overflow: hidden;
}

div {
  line-height: 22px;
}

@font-face {
  font-family: ascii;
  src: url("./font/IBMPlexMono-Thin.ttf")
}

pre {
  margin: 0;
  padding: 0;
  line-height: 20px !important;
  color: #FFA500;
  font-family: "ascii", monospace;
}

input {
  font-family: 'IBM Plex Mono', monospace;
  padding: 0px;
  margin: 0px;
  border: none;
  resize: none;
  outline: none;
  font-size: 16px;
  color: #FFA500;
  caret-color: var(--prompt-default);
  width: 50%;
}

canvas {
  margin-top: 10px; /* 设置顶部留白距离 */
  margin-bottom: 5px; /* 设置底部留白距离 */
  margin-left: 20px; /* 设置左侧留白距离 */
  margin-right: 20px; /* 设置右侧留白距离 */
  padding: 0px; /* 设置内部留白距离 */
}

a {
  color: #A9A9A9;
  vertical-align: middle;
}

a:hover {
  background-color: var(--border);
  color: var(--bg);
}

.fa {
  color: #A9A9A9;
  text-decoration: none;
}

.fa:hover {
  text-shadow:
    0 0 7px #000,
    0 0 7px #E7609E;
  color: #D9333F;
  background-color: #0C0623;
}

.ai {
  color: #A9A9A9;
  text-decoration: none;
}

.ai:hover {
  text-shadow:
    0 0 7px #000,
    0 0 7px #E7609E;
  color: #D9333F;
  background-color: #0C0623;
}

#bars {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 20px;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
  background-color: var(--bg);
}

#bar-1 {
  height: 36px;
  background-color: var(--border);
  color: var(--bg);
  line-height: 36px;
  padding-left: 10px;
}

#bar-2 {
  height: 4px;
  background-color: var(--border);
  margin-top: 1px;
}

#bar-3 {
  height: 3px;
  background-color: var(--border);
  margin-top: 2px;
}

#bar-4 {
  height: 2px;
  background-color: var(--border);
  margin-top: 3px;
}


#bar-5 {
  height: 1px;
  background-color: var(--border);
  margin-top: 4px;
}

#terminal {
  margin-left: 20px;
}

#input-line {
  margin-left: 20px;
  overflow-x: hidden;
  width: 100%;
}

.command {
  text-shadow:
    0 0 7px #98d98e,
    0 0 7px #98d98e;
  color: #00FF00;
}

.output {
  font-weight: 400 !important;
}

.keys {
  color: #FFA500;
  font-weight: 400;
}

.hp {
  text-shadow:
    0 0 10px #2ca9e1,
    0 0 10px #2ca9e1,
    0 0 10px #2ca9e1,
    0 0 10px #2ca9e1,
    0 0 10px #2ca9e1;
  color: #0095d9;
}

#lecture-container {
  margin-left: 20px;
  width: 560px;
}

/* 针对大屏幕 */
.icon-large {
  font-size: 20px;
}

.icon-small {
  font-size: 24px;
}

@media (max-width: 600px) {
  body {
    font-size: 10px;
    padding: 2px;
    font-weight: 300;
  }

  input {
    font-size: 10px;
  }

  p {
    line-height: 14px;
  }

  pre {
    line-height: 12px !important;
    font-size: 9px;
  }

  main {
    border-width: 1px;
  }

  div {
    line-height: 14px;
  }

  #terminal {
    margin-left: 8px;
  }

  #input-line {
    margin-left: 8px;
  }

  .icon-large {
    font-size: 15px;
  }

  .icon-small {
    font-size: 18px;
  }
}